<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/header1.ejs') %>    
    </head>

    <body>
        <%- include('partials/navbar1.ejs') %> 
        <div class="container">
            <h1 class="heading-padding">Registration Successful</h1>
            <br>
           
            <p>Click <a href="/login">here</a> to login</p>
            
                        
        </div>
    </body>
    <br>

    <footer>
        <%- include('partials/footer1.ejs') %>
    </footer>
</html>